@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    padding-top: 90px;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #eee;
  font-size: 16px;
  display: flex;
  align-items: center;
}

#navbar .js-new-book-button {
    margin-left: auto;
    order: 2;
    margin-right: 15px;
    height: 50px;
    background-color: coral;
    border: none;
}

#navbar h1 {
    margin-left: 15px;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-form {
    margin: auto;
    width: 200px;
    height: 225px;
}

.close-popup {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

