@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  padding-top: 5.625rem;
  font-family: "Source Sans Pro", sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #23405e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: #eee;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

#navbar h1 {
  margin-left: 0.9375rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.js-new-book-button {
  margin-left: auto;
  order: 2;
  margin-right: 0.9375rem;
  background-color: #f76c6c;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

button {
  font-family: "Lato", sans-serif;
}

.js-new-book-button:hover {
  background-color: #DE5353;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6.25rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0.625rem 0.625rem #000;
}

.popup-form {
  margin: auto;
  width: 18.75rem;
  height: 25rem;
  background-color: #374785;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.text-input {
  border-radius: 1rem;
  border: 0.0625rem solid black;
  padding-left: 0.3125rem;
  height: 1.875rem;
  width: 12.5rem;
}

.popup-form .text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-form button {
  border-radius: 0.5rem;
  border: solid black;
  border-width: 0.0625rem;
  cursor: pointer;
  height: 1.875rem;
}

.close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

.book-container {
  margin: 1rem;
  padding: 0.3125rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid black;
  border-radius: 1rem;
  width: 20%;
  background-color: #a8d0e6;
}

.book-container div {
  font-size: 1.3rem;
}

.book-container button {
  font-size: 1.1rem;
  margin: 0.3125rem;
  border-radius: 1rem;
  width: 6.25rem;
  height: 2rem;
  cursor: pointer;
  border: 0.125rem solid black;
}
.book-container .remove-button {
  background-color: #bbbbff;
}

#read-status {
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .book-container {
    width: 40%;
  }
 }

 @media only screen and (max-width: 480px) {
  .book-container {
    width: 75%;
  }
 }